<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <button nbButton ghost (click)="toggleSidebar()"><nb-icon icon="menu-outline"></nb-icon></button>
      <div class="logo"><nb-icon icon="umbrella-outline" status="primary"></nb-icon><span>Concediu</span></div>
    </div>
    <div class="header-container">
      <nb-user [name]="user()?.firstName + ' ' + user()?.lastName" [title]="(user()?.role ?? '') | uppercase" size="medium" [nbContextMenu]="userMenuItems" nbContextMenuTag="user-menu"></nb-user>
    </div>
  </nb-layout-header>
  <nb-sidebar tag="main-sidebar" responsive>
    <nb-menu [items]="menuItems()"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet />
  </nb-layout-column>
</nb-layout>
