<h4>{{ isEdit() ? 'Editare' : 'Adaugare' }} Utilizator</h4>
<nb-card class="form-card"><nb-card-body>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row"><div class="form-group"><label class="label">Prenume</label><input nbInput fullWidth formControlName="firstName" /></div><div class="form-group"><label class="label">Nume</label><input nbInput fullWidth formControlName="lastName" /></div></div>
    <div class="form-group"><label class="label">Email</label><input nbInput fullWidth formControlName="email" type="email" /></div>
    @if (!isEdit()) { <div class="form-group"><label class="label">Parola</label><input nbInput fullWidth formControlName="password" type="password" /></div> }
    <div class="row">
      <div class="form-group"><label class="label">Rol</label><nb-select fullWidth formControlName="role"><nb-option value="employee">Angajat</nb-option><nb-option value="manager">Manager</nb-option><nb-option value="admin">Administrator</nb-option></nb-select></div>
      @if (isEdit()) { <div class="form-group" style="padding-top:24px"><nb-toggle formControlName="isActive">Cont activ</nb-toggle></div> }
    </div>
    <div class="form-actions"><button nbButton ghost routerLink="/users" type="button">Anuleaza</button><button nbButton status="primary" type="submit" [disabled]="form.invalid || loading()"><nb-icon icon="save-outline"></nb-icon> {{ isEdit() ? 'Salveaza' : 'Creeaza' }}</button></div>
  </form>
</nb-card-body></nb-card>
